{include file="public/header" /}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header">分类表</h1>
  <div class="table-responsive">
<div>
    <a  class="btn btn-default" href="{:url('classify/add')}">新增</a>
</div>




<table  class="table table-striped"> 
    <tr>
        <td>cid</td>
        <td>cname</td>
        <td>pid</td>
    </tr>
 
    <tr>
        {volist name="clists" id="vo"}
        <td>{$vo.id}</td>
        <td>{$vo.cname}</td>
        <td>{$vo.pid}</td>
    </tr>
    {/volist}
    

</table>


  </div>
</div>

{include file="public/footer" /}